<footer class="footer">
    <div class="nameProject">Arkangel</div>
    <div class="university">Trường Đại học Công nghệ Thông tin - ĐHQG TPHCM</div>
    <div class="address">Địa chỉ: Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh</div>
    <div class="phone">Số điện thoại: 01688319975</div>
    <div class="email">Email: minhhuy2197@gmail.com</div>
    <div class="member">Thành viên nhóm: Đỗ Minh Huy - Lê Thành Quang Huy - Trần Ngọc Khải</div>
</footer>